<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="userRepo" class="repos.UserRepo"/>
    <bean id="gameRepo" class="repos.GameRepo"/>

    <bean id="service" class="services.Service">
        <constructor-arg ref="userRepo"/>
        <constructor-arg ref="gameRepo"/>
    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">

        <property name="serviceName" value="Games"/>
        <property name="service" ref="service"/>
        <property name="serviceInterface" value="services.IService"/>
        <property name="servicePort" value="1099"/>
    </bean>
</beans>